{% extends "_base.html" %}
 
{% block content %}
    <hr />
    <h1>Movies Catalog:</h1>
    <hr />
    {% for m in movies %}
        <a href=/movie/{{m.id}}>
            <div>{{m.id}} - {{m.title}}</div>
        </a>
    {% endfor %}
    <hr />
        <h1>Movies visited:</h1>
    <hr />
    {% for m in movies_history %}
        <h2>{{m}}</h1>
    {% endfor %}
    
    <hr />
        <h1>Recommended movies:</h1>
    <hr />
    {% for m in recommendMovies %}
        <h2>{{m}}</h1>
    {% endfor %}
{% endblock content %}