{% extends "_base.html" %}
{% block content %}
        {% for m in movies|slice:"72" %}
                <div class="flex flex-row mx-auto my-2 space-x-4 w-48 max-w-48 border-2 border-blue-900">
                    <div class="flex flex-col items-center w-full h-full">
                        <div class="border-2 h-20 w-full border-blue-200">
                            <h2 class="text-wrap overflow-hidden">{{ m.title }}</h2>
                        </div>
                        <div class="border-2 w-full border-blue-200">
                            <a href='/movie/{{m.id}}'><img class="h-[20rem]" src="{{ m.poster_path }}" alt="{{ m.title }} poster" /></a>
                        </div>
                        <div class="border-2 w-full border-blue-200">
                            {% if m.overview %}
                                <p class="h-20 whitespace-normal overflow-y-auto">{{ m.overview }}</p>
                            {% else %}
                                <p class="h-20 text-center">No Description</p>
                            {% endif %}
                        </div>
                        <div class="border-2 border-blue-200">
                            <p>Rating: {{ m.revenue }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
        <hr />
        <h1>Movies visited:</h1>
        <hr />
        {% for m in movies_history %}
            <h2>{{m}}</h1>
        {% endfor %}
        
        <hr />
            <h1>Recommended movies:</h1>
        <hr />
        {% for m in recommended_movies %}
            <h2>{{m}}</h1>
        {% endfor %}
{% endblock content %}