{% extends "_base.html" %} {% block content %}
<div class="card" style="width: 18rem">
  <img src="{{ movie.poster_path }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ movie.title }}</h5>
    <p class="card-text">{{ movie.release_date }}</p>
    <p class="card-text">{{ movie.running_time }} minutes</p>
    <p class="card-text">
      {% for genre in genres %} {{ genre.name }} {% endfor %}
    </p>
    <p class="card-text">{{ movie.overview }}</p>
    <p class="card-text">
      {% for credit in credits %} {{ credit.id }} -
      <a
        href="/movies_by_actor/{{credit.id}}"
        class="credit-item"
        data-credit-id="{{ credit.id }}"
        >{{ credit.name }}</a
      ><br />
      {% endfor %}
    </p>
  </div>
</div>

<!-- Display selected actor -->
<div>
  <h2>Nombre del actor seleccionado:</h2>
  <p id="selected-actor">No actor seleccionado</p>
</div>

{% endblock %} {% block extra_scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const creditItems = document.querySelectorAll(".credit-item");
    const selectedActorElement = document.getElementById("selected-actor");
    const actorNameInput = document.getElementById("actor_name_input");
    const form = document.getElementById("filter-by-actor-form");

    creditItems.forEach((item) => {
      item.addEventListener("click", function (event) {
        event.preventDefault();
        const creditId = this.getAttribute("data-credit-id");

        fetch(`/get_credit_name/${creditId}/`)
          .then((response) => response.json())
          .then((data) => {
            const selectedCreditName = data.name;
            localStorage.setItem("selectedCreditName", selectedCreditName);
            selectedActorElement.textContent = selectedCreditName;
            actorNameInput.value = selectedCreditName;
            form.style.display = "block";
          });
      });
    });

    const selectedCreditName = localStorage.getItem("selectedCreditName");
    if (selectedCreditName) {
      selectedActorElement.textContent = selectedCreditName;
      actorNameInput.value = selectedCreditName;
      form.style.display = "block";
    }
  });
</script>
{% endblock %}
